body {
  font-family: arial, sans-serif;
  font-size: 11pt;
}

div.level_2 {
  padding: 1em;
}

div.block_down_1 {
  padding: 0;
  padding-bottom: 1em;
  width:11em;
}

div.block_down_2 {
  padding: 0;
  padding-bottom: 1em;
  width:11em;
}

label{
  font-size: 8pt;
  font-weight:bold;
  text-transform: uppercase;
}

h1 {
  font-size: 20pt;
}

p {
  font-size: 11pt;
  margin: 5pt;
  margin-top: 0pt;
}
ul {
  font-size: 11pt;
  padding-left: 1.5em;
  margin: 5pt;
  margin-left: 3pt;
  margin-top: 0pt;
}
li {
padding-left: 0;
}

a {
  font-size: 11pt;
  margin-top: 0pt;
}

table {
  font-size: 11pt;
  border-collapse: collapse;
  text-align: left;
  border-bottom: 1px solid #6678b1;
  margin: 1em;
}

th {
  font-weight: bold;
  color: #039;
  border-bottom: 2px solid #6678b1;
  padding: 10px 8px;
}

.Hide_Column {
  display: none;
}

.No_style {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  display:inline;
}

.Hide_row {
  display: none;
}

tr.mark_del {
  background-color: #faf3f4;
}

td {
  padding: 9px 8px;
}

td.bad_data {
  border: 1px solid orange;
}

textarea {
    resize: none;
}

.ui-autocomplete {
  font-family: arial, sans-serif;
  font-size: 11pt;
}

img.hidden {
  display: none;
}
