/* div.level_2 {
  padding: 1em;
}

div.block_down_1 {
  padding: 0;
  padding-bottom: 1em;
  width:11em;
}

div.block_down_2 {
  padding: 0;
  padding-bottom: 1em;
  width:11em;
} */


.navbar {
  padding: 0;
}


.Hide_Column {
  display: none;
}

.No_style {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  display:inline;
}

.Hide_row {
  display: none;
}

td.bad_data {
  border: 1px solid #ed969e;
}

input.inputActive {
  padding: 0;
  height: 100%;
  width: 100%;
  border-style: none;
  outline: none;
}

td.td_IsEdited {
  padding: 12;
}


img.hidden {
  display: none;
}
